{% extends 'PS2/student_base.html' %}
{% block weeks_data %}

{% load crispy_forms_tags %}
<div class="Entry" id="wrapper">

<div class="form">
{%if week_data.week_no == 0 %}
<p><h2><center>New Entry </h2></p>
{%else%}
<p><h2><center>Entry {{week_data.week_no}}</h2></p>
{%endif%}

<form method="post" action ="/PS2/weeks/{{week_data.week_no}}" >
  {% csrf_token %}
  <fieldset>
    {%if week_data.lock == 0 or week_data.week_no == 0 %}
      <legend>Enter Data</legend><br>
    {%else%}
      <legend>Locked</legend><br>
    {%endif%}
	 {{form|crispy}}
	<p class="formfield" >
    <label for="task" vertical-align= "middle">Tasks Planned for Week:
    <textarea name="tasksplanned" {%if week_data.lock == 1 %} style= "background-color:#DCDCDC" readonly {%endif%}>{{week_data.tasksplanned}}</textarea></label></p>
    <br>
	<br><br>
	<p class="formfield">
    <label  for="task1">Tasks Completed:
    <textarea name="taskscompleted" {%if week_data.lock == 1 %} style= "background-color:#DCDCDC" readonly {%endif%}>{{week_data.taskscompleted}}</textarea></label></p>
    <br>
	<br><br>

	<p class="formfield">
	<label  for="task2">Variation in Plan & Plan to Overcome them(if any):
    <textarea name="variation" {%if week_data.lock == 1 %} style= "background-color:#DCDCDC" readonly {%endif%} >{{week_data.variation}}</textarea></label></p>
    <br>
	<br><br>

	<p class="formfield">
	<label  for="task3">Activities for Next Week:
    <textarea name="nextweek" {%if week_data.lock == 1 %} style= "background-color:#DCDCDC" readonly {%endif%}>{{week_data.nextweek}}</textarea></label></p>
    <br>
	<br><br>

	<p class="formfield">
	<label  for="task4">Learning Outcomes:
    <textarea name="learning" {%if week_data.lock == 1 %} style= "background-color:#DCDCDC" readonly {%endif%}>{{week_data.learning}}</textarea></label></p>
    <br>
	<br><br>
	<p class="formfield">
	<label  for="task5">Equipments/Software Used/Learnt:
    <textarea name="equipments" {%if week_data.lock == 1 %} style= "background-color:#DCDCDC" readonly {%endif%}>{{week_data.equipments}}</textarea></label></p>
    <br>
	<br><br>
	<br>
    {%if week_data.lock == 1%}
      <p align="right" ><button type="goBack" value="goBack">Go Back</button></p>
    {%else %}
      <p align="right" ><button type="submit" value="Submit">Submit</button></p>
    {%endif%}


  </fieldset>
</form>
<br><br>

<form method="post" action ="/PS2/weeks/{{week_data.week_no}}" >
  {% csrf_token %}
  <fieldset>
    <legend>Remarks</legend><br>
   {{form|crispy}}
  <p class="formfield" >
    <label  for="comments">Comments:
    <textarea name="comments" style= "background-color:#DCDCDC" readonly>{{week_data.comment}}</textarea></label></p>
    <br><br><br><br>

  <!-- <p align="right"><input type="submit" value="Submit"></p> -->

  </fieldset>
</form>
</div>
<br><br>
<div class="footer">
      <p style="font-size: 12px">Copyright © 2019. All Rights Reserved. <a href="/dev_page">Meet the Creators</a></p>      
</div>

</div>
{% endblock %}
